.body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    max-width: 100%;
}
.btm {
    width:100%;
    overflow-x: hidden;
    max-width: 100%;
}
.spacer {
    width: 100%;
    overflow-x: hidden;
    max-width: 100%;
}